@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 18, 18, 18;
  --background-rgb: 247, 243, 238;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

